.form-label {
    color: white;
}


.loginregister-link {
    display: flex;
    cursor: pointer;
    text-decoration: underline;
    text-underline-offset: 0.25em;
    color: white;
    text-wrap-mode: wrap;
}

.formswitch-container {
    display: flex;
    flex-direction: column;
    row-gap: 2vh;
}